estruturaDeDecisao/Lista1/*.exe
estruturaDeDecisao/Lista2/*.exe
estruturaDeDecisao/Lista3/*.exe
estruturaDeRepeticao/*.exe
estruturaSequencial/Lista1/*.exe
estruturaSequencial/Lista2/*.exe
matrizes/*.exe
projeto/*.exe
struct/*.exe
vetores-e-strings/Lista1/*.exe
vetores-e-strings/Lista2/*.exe


